<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'lab-9:index' %}">Home</a>
    </div>
  </div>
</nav>
<br>
