<nav class= "navbar-default navbar-static-top">
  <div class = "container">
    <div class ="navbar-header">
      <a class="navbar-brand" href="/lab-7/">Home</a>
      <a class="navbar-brand" href="/lab-7/friend-list/">List Teman</a>
    </div>
  </div>
</nav>
