{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="LAB 8">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lab_8.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <link async href="http://fonts.googleapis.com/css?family=Atomic%20Age" rel="stylesheet" type="text/css"/>
    <link async href="http://fonts.googleapis.com/css?family=Antic" rel="stylesheet" type="text/css"/>
    <link async href="http://fonts.googleapis.com/css?family=Coda" rel="stylesheet" type="text/css"/>
    <link async href="http://fonts.googleapis.com/css?family=Syncopate" rel="stylesheet" type="text/css"/>
    <link async href="http://fonts.googleapis.com/css?family=Aldrich" rel="stylesheet" type="text/css"/>
    <link async href="http://fonts.googleapis.com/css?family=Battambang" rel="stylesheet" type="text/css"/>
    <link async href="http://fonts.googleapis.com/css?family=Aladin" rel="stylesheet" type="text/css"/>
    <title>
        {% block title %} Lab 8 By {{author}} {% endblock %}
    </title>
</head>
<body>
    <content>
      {% block content %}
          <!-- content goes here -->
      {% endblock %}
    </content>
    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
      var redirect = "{% url 'lab-8:index' %}";
    </script>
    <script src="{% static 'js/lab_8.js' %}"></script>
</body>
</html>
